@import "@/utils/vars.scss";
@import "@/utils/mixins.scss";

.product_section {
  margin-top: 10%;
  width: 100%;
}

.product_section_content {
  width: 85%;
  margin-right: auto;
  margin-left: auto;
  display: flex;
  // flex-wrap: wrap;
  justify-content: space-between;
  @media (max-width: 768px) {
    flex-direction: column;
    gap: 15px;
    // width: 100%;
  }

  @include section-header($whiteColor, 0.9);
}

.product_header_wrapper {
  // width: 40%;
  width: min(100%, calc-index(25));
}
.product_text {
  align-self: flex-end;
  justify-self: flex-end;
  color: $secondaryColor;
  font-size: calc-index(1.2);
  width: 30%;

  @media (max-width: 768px) {
    font-size: max(14px, calc-index(1.45));
    width: min(100%, calc-index(20));
  }
}

.product_slider {
}
.mySwiper {
  width: 100%;
  // height: 500px;
  display: flex !important;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: calc-index(4);
  margin-top: 10%;
}
.swiper-slide {
  text-align: center;
  font-size: 18px;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;

  // width: calc-index(15) !important;
  width: 500px;

  &:first-child {
    margin-left: 7.5%;
  }
  &:last-child {
    margin-right: 7.5%;
  }
  margin-right: max(15px, 1%);
}
.swiper-wrapper {
  // gap: 15px;
  // align-items: center;
}
.swiper-slide img {
  display: block;
  width: 100%;
  // height: 100%;
  height: auto;
  aspect-ratio: 1 / 1;
  object-fit: cover;
  border-radius: 15px;
}

.swiper-slide_inner {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 100%;
  height: 100%;
}
.swiper-slide_text {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: $secondaryColor;
  font-size: max(14px, calc-index(1));
}
.swiper-button-navigation {
  display: flex;
  gap: 30px;
}
.swiper-button-prev,
.swiper-button-next {
  cursor: pointer;
  height: auto;
  width: max(30px, calc-index(3));
  aspect-ratio: 1 / 1;
}
.swiper-button-prev svg,
.swiper-button-next svg {
  stroke-width: 1px;
  width: 100%;
  height: 100%;
  stroke: $whiteColor;
  transition: transform 0.25s ease;
  &:hover {
    transform: scale(1.1);
  }
}

.swiper-button-disabled {
  opacity: 0.5;
}
