@import "@/utils/vars.scss";
@import "@/utils/mixins.scss";

.section_material {
  width: 85%;
  padding-bottom: 10%;
  height: fit-content;
  margin-left: auto;
  margin-right: auto;
  display: grid;
  justify-content: space-between;
  align-items: center;
  margin-top: 10%;
  gap: 2%;
  grid-template-columns: repeat(3, 1fr);
  @include section-header($mainColor, 0.7);

  @media (max-width: 767px) {
    display: flex;
    flex-direction: column;
    gap: 15px;
    @include section-header($mainColor, 1);
  }
}

.material_block1 {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  // gap: 30px;
}
.material_block2 {
  width: 100%;
  height: 100%;
}
.material_block3 {
  width: 100%;
  height: 100%;
}
.material_image {
  width: 100%;
  height: auto;
  border-radius: 15px;
}

.material_block_wrapper {
  display: flex;
  flex-direction: column;
  gap: 30px;

  @media (max-width: 767px) {
    gap: 15px;
  }
}
.material_description {
  display: flex;
  flex-direction: column;
  gap: 30px;
  @media (max-width: 767px) {
    gap: 15px;
  }
}
.material_text {
  font-size: calc-index(1);
  @media (max-width: 767px) {
    font-size: calc-index(1.6);
  }
}

.material_button {
  @include button-link($mainColor);
  @media (max-width: 767px) {
    font-size: calc-index(1.6);
  }
}
